Click==7.0
Flask==1.0.2
Flask-Login==0.4.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.0
marshmallow==2.16.3
passlib==1.7.1
python-decouple==3.1
pytz==2018.9
webargs==5.2.0
Werkzeug==0.15.3
